* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Disk color variables */
    --color-prm: #f00; --color-sec: #ff000055;
    font-size: 3vmin;
    --anim-delay: .25s;
    --bgd-color: #1e1e1e;
    /* --bgd-color-light: #2e2e2e; */
    --prm-color: #e1e1e1;
    /* --sec-color: #b0b0b0; */
    /* Disk animation position variables */
    --x0: 0;
    --y0: 0;
    --y3: 0;
    --x6: 0;
    --y6: 0;
}
body {
    background-color: var(--bgd-color);
}

div, button {
    color: var(--prm-color);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.menu {
    outline: 1px solid orange;
    outline-offset: -1px;
    justify-content: space-evenly;
    display: flex;
    height: 14vh;
    align-items: center;
}

.bottom-menu {
    justify-content: space-around;
}

.field {
    outline: 1px solid orange;
    outline-offset: -1px;
    height: 72vh;
    display: flex;
    justify-content: center;
    background-size: calc(100vw/3) 8vh;
    background-image:
        linear-gradient(to right, #333 1px, transparent 1px),
        linear-gradient(to bottom, #333 1px, transparent 1px);
}

.disk {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, var(--color-sec), var(--color-prm) 40% 60%, var(--color-sec));
    border-radius: 3.5vmin;
    height: 8vh;
    position: absolute;
    transition: 0s;
    margin: auto;
}
.disk > p {
    font-size: 3.5vh;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    color: #fffc;
}

.hint-disk {
    box-shadow:
        inset 0 0 5vmin .1vmin var(--color-prm);
    border-radius: 3.5vmin;
    height: 8vh;
    position: absolute;
    margin: auto;
}

.disk-8 { width: calc(100vw/3 - 0*3.5vw); --color-prm: #f00; --color-sec: #f008; }
.disk-7 { width: calc(100vw/3 - 1*3.5vw); --color-prm: #f80; --color-sec: #f808; }
.disk-6 { width: calc(100vw/3 - 2*3.5vw); --color-prm: #ff0; --color-sec: #ff08; }
.disk-5 { width: calc(100vw/3 - 3*3.5vw); --color-prm: #0f0; --color-sec: #0f08; }
.disk-4 { width: calc(100vw/3 - 4*3.5vw); --color-prm: #0ff; --color-sec: #0ff8; }
.disk-3 { width: calc(100vw/3 - 5*3.5vw); --color-prm: #00f; --color-sec: #00f8; }
.disk-2 { width: calc(100vw/3 - 6*3.5vw); --color-prm: #f0f; --color-sec: #f0f8; }
.disk-1 { width: calc(100vw/3 - 7*3.5vw); --color-prm: #faa; --color-sec: #faa8; }

.btn {
    min-width: 10vh;
    min-height: 10vh;
    border-radius: 50%;
    font-weight: 700;
}

button {
    color: var(--bgd-color);
}

.input {
    max-width: 7.5vw;
    min-height: 5vh;
}

.moving-over-top {
    background-color: var(--color-sec);
    box-shadow:
        0 0 5vmin 1vmin var(--color-prm);
    animation-name: over-top;
    animation-duration: var(--anim-delay);
    animation-timing-function: linear;
  }
  
  @keyframes over-top {
    0%   {transform: translate(calc(var(--x0)*(50vw - (100vw/6))), calc(var(--y0)*8vh))}
    30%  {transform: translate(calc(var(--x0)*(50vw - (100vw/6))), calc(var(--y3)*8vh))}
    70%  {transform: translate(calc(var(--x6)*(50vw - (100vw/6))), calc(var(--y3)*8vh))}
    100% {transform: translate(calc(var(--x6)*(50vw - (100vw/6))), calc(var(--y6)*8vh))}
  }

  /* DRAG AND DROP */

  .dragging {
      /* background-color: white ; */
      /* box-shadow:
        0 0 5vmin 1vmin var(--color-prm); */
  }

  /* PANELS for Bottom menu */