@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 8vh;
    font-size: min(8vh, calc(( 4vw + 4vh + 2vmin ) / 1));
    --anim-delay: .25s;
    --bgd-color: #1e1e1e;
    --bgd-color-00: #1e1e1e00;
    --color-bright-green: #5ac;
    --color-middle-green: #3f94add8;
    /* Disk color variable, example for bottom Disk */
    --color-prm: #f00; --color-sec: #ff000055;
    /* Disk animation position variables */
    --x0: 0; --y0: 0; --y3: 0; --x6: 0; --y6: 0;
}
body {
    background-color: var(--bgd-color);
    font-family: "Lato", sans-serif;
}

/* Prevent text selection */
div { 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.cont-bg {
    background-image: url("../img/tower-0.png");
    opacity: 1;
    background-position: top 25% center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0; bottom: 0;
    z-index: 100;
    transition: 1s;
}
/* hiding Starting Cover Image */
.start { opacity: 0; z-index: -1; }

.menu {
    color: var(--color-middle-green);
    height: 14vh;
    display: flex;
    align-items: center;
}

.top-menu {
    justify-content: space-around;
}

.field {
    outline: .05rem solid var(--color-middle-green);
    height: 72vh;
    display: flex;
    justify-content: center;
    background-size: calc(100vw/3) 8vh;
    background-image:
        linear-gradient(to right, #5ac3 1px, transparent 1px),
        linear-gradient(to bottom, #5ac3 1px, transparent 1px);
}

.disk {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, var(--color-sec), var(--color-prm) 40% 60%, var(--color-sec));
    border-radius: 3.5vmin;
    height: 8vh;
    position: absolute;
    transition: 0s;
    margin: auto;
}
.disk > p {
    font-size: 3vh;
    font-weight: 900;
    color: var(--bgd-color);
}
[draggable = true] {
    cursor: grab;
}

/* Tower as a Target for Drop Event */
.tower-drop-hint {
    z-index: 1;
    width: calc(100vw/3);
    height: 72vh;
    position: absolute;
    margin: auto;
}

.hint-disk {
    margin: auto;
    position: absolute;
    height: 8vh;
    border-radius: 3.5vmin;
    box-shadow:
        inset 0 0 2vmin var(--color-sec);
}

.hint-disk.highlight {
    transition: 0s;
    box-shadow:
        inset 0 0 .25rem .1rem var(--color-prm);
}

.disk-8 { width: calc(100vw/3 - 0*3.5vw); --color-prm: #f00; --color-sec: #f008; }
.disk-7 { width: calc(100vw/3 - 1*3.5vw); --color-prm: #f80; --color-sec: #f808; }
.disk-6 { width: calc(100vw/3 - 2*3.5vw); --color-prm: #ff0; --color-sec: #ff08; }
.disk-5 { width: calc(100vw/3 - 3*3.5vw); --color-prm: #0f0; --color-sec: #0f08; }
.disk-4 { width: calc(100vw/3 - 4*3.5vw); --color-prm: #0ff; --color-sec: #0ff8; }
.disk-3 { width: calc(100vw/3 - 5*3.5vw); --color-prm: #00f; --color-sec: #00f8; }
.disk-2 { width: calc(100vw/3 - 6*3.5vw); --color-prm: #f0f; --color-sec: #f0f8; }
.disk-1 { width: calc(100vw/3 - 7*3.5vw); --color-prm: #faa; --color-sec: #faa8; }

.btn {
    width: 1rem;
    height: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--color-middle-green);
    background-color: var(--bgd-color);
    border: .05rem solid var(--color-middle-green);
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s;
}

.btn:hover {
    background-color: var(--bgd-color);
    color: var(--color-bright-green);
    border: .05rem solid var(--color-bright-green);
    box-shadow:
        0 0 0.05rem var(--color-bright-green),
        0 0 0.1rem var(--color-bright-green),
        0 0 0.25rem var(--color-bright-green),
        inset 0 0 0.25rem var(--color-bright-green);
}

.btn:active, .active {
    background-color: var(--color-bright-green);
    border: .05rem solid var(--color-bright-green);
    color: var(--bgd-color);
    transform: translateY(0.05rem);
    box-shadow:
        0 0 0.25rem var(--color-bright-green),
        0 0 0.5rem var(--color-bright-green),
        0 0 1rem var(--color-bright-green);
}

.moving-over-top {
    background-color: var(--color-sec);
    box-shadow:
        0 0 .5rem .125rem var(--color-prm);
    animation-name: over-top;
    animation-duration: var(--anim-delay);
    animation-timing-function: linear;
  }
  
  @keyframes over-top {
    0%   {transform: translate(calc(var(--x0)*(50vw - (100vw/6))), calc(var(--y0)*8vh))}
    30%  {transform: translate(calc(var(--x0)*(50vw - (100vw/6))), calc(var(--y3)*8vh))}
    70%  {transform: translate(calc(var(--x6)*(50vw - (100vw/6))), calc(var(--y3)*8vh))}
    100% {transform: translate(calc(var(--x6)*(50vw - (100vw/6))), calc(var(--y6)*8vh))}
  }

  /* DRAG AND DROP */

.dragging {
    /* background-color: var(--bgd-color); */
    opacity: .35; 
}

/* PANELS for Bottom menu */
.panel {
    outline: 1px solid var(--color-middle-green);
    display: flex;
    justify-content: center;
    height: 100%;
    width: 10%;
    cursor: pointer;
    transition: .25s;
}

.bookmark {
    background-color: var(--color-middle-green);
    color: var(--bgd-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: .1s;
}
.bookmark:hover {
    color: var(--color-bright-green);
}
.bookmark:active {
    color: var(--color-bright-green);
    background-color: var(--bgd-color);
}

.context {
    display: none;
    align-items: center;
    opacity: 0;
    width: 100%;
    overflow: hidden;
}

#p-0 .context {
    padding: 0 .25rem;
    font-size: calc((2vw + 2vh + 1vmin)/2.25);
}
#p-1 .context {
    justify-content: space-around;
}

.main {
    width: 90%;
    cursor: auto;
    padding: 0;
}

.main > .bookmark { display: none; }
.main > .context { display: flex; opacity: 1; }

.md-vm { transform: scale(1, -1); }
span.material-icons { font-size: .75rem; }
span.material-icons.md-2rem { font-size: min(1.25rem, 8vw); }

.btn-group {
    flex: .33;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn-group-0 { flex: .26; }
.btn-group-1 { flex: .37; }


.display-number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.1rem;
    min-width: 1rem;
    height: 1rem;
    border: .05rem solid var(--color-middle-green);
    border-radius: .25rem;
    box-shadow:
        inset 0 0 .2rem var(--color-middle-green);
    font-size: .5rem;
    font-weight: 900;
    transition: .25s;
}

.display-number.highlight {
    transition: 0s;
    color: var(--color-bright-green);
    border: .05rem solid var(--color-bright-green);
    box-shadow:
        inset 0 0 .2rem .05rem var(--color-bright-green);
}

.disk-car {
    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 1rem;
    border-top: .05rem solid var(--color-middle-green);
    border-bottom: .05rem solid var(--color-middle-green);
    border-radius: .4rem;
    font-weight: 900;
}

.btn-2 {
    height: 1rem;
    width: .75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: .5rem;
    transition: 0.1s;
}
.btn-2:hover {
    color: var(--color-bright-green);
    text-shadow:
        0 0 .25rem var(--color-bright-green),
        0 0 .5rem var(--color-bright-green);
    border-top: .05rem solid var(--color-bright-green);
    border-bottom: .05rem solid var(--color-bright-green);
    box-shadow:
        0 0 .05rem var(--color-bright-green),
        inset 0 0 .05rem var(--color-bright-green);

        /* 0 0 .5rem var(--color-bright-green); */
}

.btn-2:active {
    background-color: var(--color-bright-green);
    color: var(--bgd-color);
    /* background-image: radial-gradient(var(--color-bright-green) 35%, #0000 65%); */
    border-top: .05rem solid var(--color-bright-green);
    border-bottom: .05rem solid var(--color-bright-green);
    box-shadow:
        0 0 0.25rem var(--color-bright-green),
        0 0 0.5rem var(--color-bright-green),
        0 0 1rem var(--color-bright-green);
}

.btn-2:active.right { transform: translateX(0.05rem); }
.btn-2:active.left { transform: translateX(-0.05rem); }

.disk-car:active > .dsp-2 {
    color: var(--color-bright-green);
    border: .05rem solid var(--color-bright-green);
    transition: 0s;
    box-shadow:
        inset 0 0 .2rem .05rem var(--color-bright-green);
}

.disk-car:active .dsp-2:active {
    color: var(--color-middle-green);
    border-left: .05rem solid var(--color-middle-green);
    border-right: .05rem solid var(--color-middle-green);
    box-shadow: none;
}

.dsp-2 {
    width: 1rem;
    padding: 0;
    box-shadow: none;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: .05rem solid var(--color-middle-green);
    border-right: .05rem solid var(--color-middle-green);
}

.btn-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* - - - Auto Solving Progress Animation Donut-style - - -*/
.donut {
    height: 1.5rem; width: 1.5rem;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    --deg-deg: 0deg;
}
/* Plain color Donut */
.grad-1 {
    --col-1: #5ac;
    background-image: conic-gradient(var(--col-1) 0deg, var(--col-1) var(--deg-deg), var(--bgd-color) 0deg);
}
/* Rainbow colour Donut with bgd-color coverage */
.grad-2 {
    --col-0: var(--bgd-color-00); --col-1: var(--bgd-color);
    background-image: conic-gradient(var(--col-0) 0deg, var(--col-0) var(--deg-deg), var(--col-1) 0deg);
}
.grad-rainbow {
    height: 1.4rem; width: 1.4rem;
    background-image: conic-gradient(#f0f, #00f, #0ff, #0f0, #ff0, #f80, #f00);
    box-shadow: 
        inset 0 0 .125rem .03rem var(--bgd-color);
}